.home-check-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}

.home-check-item:last-child {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-check-item-icon {
  fill: var(--dl-color-scheme-brown);
  width: 18px;
  height: 18px;
  margin-right: var(--dl-space-space-unit);
}

.home-check-item-text {
  font-style: normal;
  font-weight: 500;
}
